/* line 3, site.scss */
body {
  background: url("../background.png");
}

/* line 7, site.scss */
.container {
  padding-top: 50px;
}

/* line 11, site.scss */
.logo {
  position: absolute;
  left: 50px;
  top: 110px;
}

/* line 17, site.scss */
aside .well {
  padding: 10px;
}
/* line 20, site.scss */
aside .well h3 {
  font-size: 1.1em;
  padding: 0 10px;
  background-color: darkred;
  border: 1px solid maroon;
  text-shadow: 1px 1px #333333;
  color: #fff;
  border-radius: 0.8em;
}

/* line 31, site.scss */
.post {
  margin-bottom: 30px;
  position: relative;
}
/* line 35, site.scss */
.post i.icon-bookmark {
  padding-right: 10px;
}
/* line 39, site.scss */
.post h3 a {
  color: darkred;
}

/* line 44, site.scss */
.name {
  color: #444;
  font-weight: bold;
}
