@import 'bootstrap/css/bootstrap.min.css';
@import 'bootstrap/css/bootstrap-responsive.min.css';
@import 'font-awesome.min.css';

$darkRed: #8B0000;

#masthead {
	width:100%;
	padding:20px 0;
	background-size:198px 200px;
	background-image: url(/background.png);
}

#github {
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0;
}

#masthead .logo {
	display:block;
	margin-right:10px;
}

.intro h1{
	margin-bottom:0;
}

intro a {
	text-decoration:none;
}

.intro p {
	color:#fff;
	margin-left:6px;
	font-size:1.1em;
	text-shadow:1px 1px #333;
}

.posts {
	margin-top:30px;
}

.post {
	margin-bottom:30px;
	position:relative;

	i.icon-bookmark{
		padding-right:10px;
	}

	h2, h3 {
	 color: $darkRed;
	  a { 
	  		color: $darkRed; 
	  		text-decoration:none; 
	  	}
	}
}

.name {
	color: #444;
	font-weight:bold;	
}