@import 'bootstrap/css/bootstrap.min.css';
@import 'bootstrap/css/bootstrap-responsive.min.css';
@import 'font-awesome.min.css';
@import 'media-queries';

$darkRed: #8B0000;

body{
	@include tablet-landscape-and-below{
		padding:0;
	}
}

#masthead {
	width:100%;
	padding:20px 0;
	background-size:198px 200px;
	background-image: url(/background.png);
	background-repeat: repeat, no-repeat;
	background-position: 0 0, 0 0;
}

#github {
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0;
}

#masthead .logo {
	display:block;
	margin-right:10px;

	@include tablet-landscape-and-below{
		width:133px;
		margin:0 auto;
		float:none !important;
	}
}

.intro{
	width:100%;

	div.pull-left{
		@include tablet-landscape-and-below{
			float:none !important;
			text-align:center;
		}
	}
}

.intro h1{
	margin-bottom:0;
	font-size:3.0em;
}

.intro a {
	text-decoration:none;
}

.intro p {
	color:#fff;
	margin-left:6px;
	font-size:1.1em;
	text-shadow:1px 1px #333;
}

#nav-action{
	@include tablet-landscape-and-below{
		padding:0 20px;
	}
	
	ul{
		width:100%;
		font-size:2em;
		padding:10px 0;
		margin-bottom:0;
	}

	li{
		display:inline-block;
		
		a { 
			text-decoration:none;
			color:#555;
			&:hover{ color:#000; }
		 }
	}
}

.posts {
	margin-top:20px;

	@include tablet-landscape-and-below{
		padding:0 20px;
	}
}

.post {
	margin-bottom:30px;
	position:relative;

	i.icon-bookmark{
		padding-right:10px;
	}

	h2, h3 {
	 color: $darkRed;
	 font-size:2em;
	  a { 
	  		color: $darkRed; 
	  		text-decoration:none;
	  		&:hover { color: lighten($darkRed, 10%); }
	  	}
	}
}

.name {
	color: #444;
	font-weight:bold;	
}