<a href="https://github.com/auswm85" class="hidden-phone" rel="me nofollow">
  <img id="github" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
</a>
<header id="masthead">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-md-6 intro">
            <a class="logo float-left" href="/" title="Austin McShan">
              <img class="img-polaroid" alt="Austin McShan" src="https://www.gravatar.com/avatar/5e6411e01d41bf7fb3cbbaa1fa7dd06e?s=100">
            </a>
            <div class="text-center text-md-left">
              <h1><a id="home" href="/">Austin McShan</a></h1>
              <p>I make myself laugh.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>