---
layout: default
---

<section class="posts col">
    <div class="post">
        <h2><i class="icon-bookmark"></i> {{ page.title }}</h2>
        <p class="text-muted">{{ page.date | date: "%B %e, %Y" }}</p>
        {{content}}
    </div>
    <div id="comments">
        <div id="disqus_thread"></div>
            <script type="text/javascript"> 
            var disqus_shortname = 'austinmcshan'; 
            var disqus_identifier = '{{page.slug}}';
            var disqus_url = 'http://austinmcshan.com{{page.url}}';
            var disqus_title = '{{page.title|escape}}';

            (function() {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript'; 
                dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
            </script>
    </div>
</section>